DATABASE_FILENAME=users_db.db
AUTH_SERVICE_URL=localhost:5000
SECRET_KEY=THIS_SHOULD_BE_SECRET
BROKER_URL=kafka:9092
WEB_SOCKET_GATEWAY=localhost:3000
MESSAGES_DB=mongodb+srv://<username>:<password>@clustername.mongodb.net/test?retryWrites=true&w=majority&useNewUrlParser=true&useUnifiedTopology=true
MESSAGE_SERVICE_URL=http://localhost:3001/
